.item-card {
  font-size: 20px;
  color: #333333;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-family: arial;
  box-sizing: border-box;
  height: 185px;
  transition: all 0.3s ease;
}
.item-card:hover {
  transform: scale(1.03);
}
.item-card-edit {
  padding: 10px 0px 0px 0px;
}
.item-card-inner,
.item-card-edit {
  background-color: #eee;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}
.item-name {
  font-size: 26px;
  padding: 10px;
}
.price {
  color: rgb(128, 128, 128);
  font-size: 22px;
  padding: 10px;
}
.item-btn {
  border-top: 1px solid #cccccc;
  padding: 10px 10px 10px 10px;
}

.item-name-input input {
  text-align: center;
  padding: 6px;
  max-width: 240px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.item-card-edit .item-btn {
  padding: 10px 10px 10px 10px;
}
.btn-add-cart {
  float: left;
  font-size: 24px;
  padding: 0px 10px 0px 10px;
}

.btn-edit-cart,
.btn-delete-cart,
.btn-favorite-cart {
  padding: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}
.btn-favorite-cart:hover {
  color: rgb(47, 184, 6);
}
.btn-edit-cart:hover {
  color: rgb(2, 140, 231);
}
.btn-delete-cart:hover {
  color: rgb(223, 41, 41);
}
.cart-notif {
  background-color: #5bc0de;
}
.cart-item {
  background-color: #ffffff;
  border: 1px solid #5bc0de;
  margin: 2px 5px;
}

.cart-item-name {
  background-color: #5bc0de;
  color: #ffffff;
  padding: 2px;
  font-size: 24px;
}
.cart-item-details {
  font-size: 18px;
  line-height: 30px;
}

.cart-item button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.cart-item-price {
  color: rgb(128, 128, 128);
}
.cart-item-quantity {
  background-color: #ffffff;
  border: 1px solid #5bc0de;
  color: #5bc0de;
}
