.products-add-form {
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  /* background-color: rgba(33, 33, 33, 0.6); */
}

.add-form {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 20px 15px 20px;
  background-color: #f1f1f1;
  max-width: 650px;
  width: 100%;
}

.add-form-input input {
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.add-form-btn {
  text-align: right;
}
