.item-card {
  font-size: 20px;
  color: #333333;
  height: 152px;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: arial;
  float: left;
  box-sizing: border-box;
}
.item-name {
  font-size: 26px;
  padding: 10px;
  background-color: #f1f1f1;
}
.price {
  color: grey;
  font-size: 22px;
  padding: 10px;
  background-color: #f1f1f1;
}
.item-btn {
  border-top: 1px solid #cccccc;
  padding: 10px 10px 10px 10px;
  background-color: #f1f1f1;
}

.item-name-input input {
  text-align: center;
  padding: 5px;
  max-width: 240px;
  margin-bottom: 10px;
  font-size: 16px;
}
