* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 0px auto 20px auto;
  border-bottom: 1px solid #cccccc;
  color: #333333;
  padding: 20px;
}
h3 {
  margin: 10px 5px;
  text-align: right;
}
.products-container {
  text-align: center;
  padding: 0 20px;
}
.cart-below-note {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px auto;
  padding: 10px;
  color: #333333;
}
